<div class="container">
  <div class="row">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <app-item class="col-md-4"
            *ngFor="let item of items; let i = index"
            [item] = "item"
          ></app-item>
        </div>
      </div>
    </div>
  </div>
</div>