<div class="card mb-4 box-shadow">
  <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{item.picture.large}}">
  <div class="card-body">
    <h5 class="card-title">{{item.name.first}} {{item.name.last}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-muted">{{item.registered.date|date: 'dd-MM-yyyy'}}</small>
    </div>
  </div>
</div>