<div class="row">
  <div class="col">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputSetup" class="sr-only">Per-page</label>
        <input [(ngModel)]="perPage" type="number" class="form-control" name="inputSetup" id="inputSetup" placeholder="Per-page">
      </div>
      <button type="submit" class="btn btn-primary mb-2" (click)="onChange()">Confirm perPage</button>
    </form>
  </div>
</div>